header {
    background-color: rgb(255, 146, 84); /* cor de fundo do cabeçalho */
    text-align: center; /*alinhamento do texto*/
    color: rgb(226, 43, 43); /* cor da letra */
    padding: 25px; /* tamanho/preenchimento do cabeçalho*/
    font-size: 30px; /*TAMANHO DA FONTE*/
}

.primeira {
    padding: 150px;
    background-color: rgb(209, 180, 119);
}

.segunda {
    padding: 150px;
    background-color: coral;
}

.terceira {
    padding: 150px;
    background-color: chocolate;
}


footer .rodape {
color: brown;
padding: 150px;
background-color: burlywood;
}

