header {
    background-color: #0d0f36;
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

header h1 {
    color: #FFD43B;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

header img {
    width: 70px;
}

.list-menu ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.list-menu ul li {
    list-style: none;
}

.list-menu ul li a {
    text-decoration: none;
    color: #FFD43B;
    font-size: 10x;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.primeira {
    background-color: #FFD43B;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.primeira p {
    font-weight: bold;
    color: #0d0f36;
}

.primeira span {
    font-size: 45px;
    color: black;
}

.segunda {
    padding: 70px;
    background-color: #0d0f36;
    text-align: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #FFD43B;
}

.segunda i {
    font-size: 35px;
}

.terceira {
    padding: 250px;
    background-image: url(Imagens/pexels-ianr-29570341.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
}

.terceira button {
    width: 150px;
    padding: 10px;
    color: #0d0f36;
    background-color: #FFD43B;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.quarta {
    padding: 150px;
    background-color: #0d0f36;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.quarta div {
width: 300px;
height: 450px;
background-color: #FFD43B;
text-align: center;
padding: 15px;
color: #0d0f36;
}

.div01 img {
    width: 150px;
    height: 150px;
}
.div02 {
    background-image: url(Imagens/OP.jpg);
    background-size: cover; 
}

.div03 img {
    width: 150px;
    height: 150px;
}

.div03 p {
    color: #0d0f36;
    font-weight: 700;
}

footer {
    background-color: #FFD43B;
    padding: 30px;
    color: #0d0f36;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

footer i {
    font-size: 40px;
}